@font-face{
    font-family: "Arial Rounded MT Bold";
    src: url("scrabble-cats-banter/ARLRDBD.TTF");
}
@font-face{
	font-family: "Arial Narrow";
	src: url("ARIALN.TTF");
}
@font-face {
    font-family: "Arial Black";
    src: url("scrabble-cats-banter/ariblk.ttf");
}
@font-face {
	font-family: "Bahaus 93 Regular";
	src: url("big-o-racing/BAUHS93.TTF");
}
@font-face {
	font-family: "IT Cathedra Demo";
	src: url("congress-of-vienna/IT\ Cathdra\ Demo.otf");
}
@font-face {
	font-family: "Chomsky";
	src: url("accounting/Chomsky.otf");
}
@font-face {
	font-family: "Piston Black";
	src: url("congress-of-vienna/PistonBlack-Regular.ttf");
}

body {
	background-color: #ffffff;
	line-height: 1.5;
	margin: 0;
}
header {
	background-color: #205090;
	color: white;
	text-align: center;
	line-height: 1.2;
	font-variant: small-caps;
	
}
header h1 {
	background-color: #205090;
	padding: 25px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 0;
}
header .navbar {
	background-color: #5080B0;
	border-bottom: 2px solid #205090;
	padding: 5px 0;
	font-size: 22px;
	letter-spacing: 0.1em;
}
header .navbar a {
	margin: 0 20px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


.content {
	background-color: #ffffff;
	padding: 10px 0 30px 0;
	margin: auto;
	text-align: center;
}

@media screen and (min-width: 1200px){
	.content {max-width: 1200px;}
}

footer {
	background-color: #205090;
	padding: 10px 0;
	border-top: 5px solid #5080B0;
	text-align: center;
	color: white;
}
footer p {
	font-size: 16px;
	margin: 10px 0;
}




.game-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 500px;
	height: 100px;
	padding: 0;
	margin: 10px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	font-size: 18px;
}
.game-box .text-wrapper {
	position: absolute;
	width: calc(100% - 60px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.game-box h1 {
	font-size: 26px;
	font-weight: normal;
	margin: 0;
}
.game-box p {
	font-size: inherit;
	margin: 0;
}

@media screen and (max-width: 520px) {
	.game-box {
		display: block;
		width: auto;
		height: auto;
		aspect-ratio: 5;
	}
}
@media screen and (max-width: 520px) {
	header h1 {font-size: 38px;}
	header {font-size: 24px;}
	.game-box h1 {font-size: 24px;}
	.game-box {font-size: 16px;}
}
@media screen and (max-width: 450px) {
	header h1 {font-size: 34px;}
	header {font-size: 20px;}
	.game-box h1 {font-size: 20px;}
	.game-box {font-size: 14px;}
}
@media screen and (max-width: 400px) {
	header h1 {font-size: 28px;}
	header {font-size: 18px;}
	.game-box h1 {font-size: 18px;}
	.game-box {font-size: 12px;}
}


.great-game {
	background-image: linear-gradient(to bottom, #7CC15980, #7CC159A0), url("tgg-banner.png");
	border: 0.15em solid #4C7537;
}
.great-game .text-wrapper {
	font-family: 'Times New Roman', Times, serif;
	text-shadow: 0.05em 0.05em 0.15em black;
	color: white;
}
.great-game h1 {
	font-variant: small-caps;
	font-size: 32px;
}
@media screen and (max-width: 520px) {
	.great-game h1 {font-size: 28px;}
}
@media screen and (max-width: 450px) {
	.great-game h1 {font-size: 24px;}
}
@media screen and (max-width: 400px) {
	.great-game h1 {font-size: 22px;}
}


.scrabble-cats {
	background-color: #FFC77D;
	/*background-image: linear-gradient(#FFC77DE0, #FFC77DE0), url(sc-banner-2.png);*/
	border: 0.15em solid #FFA346;
}
.scrabble-cats .text-wrapper {
	font-family: "Arial Black";
	/*text-shadow: 2px 2px #FFA346;*/
}
.scrabble-cats h1 {
	font-variant: small-caps;
	letter-spacing: 0.08em;
}
.scrabble-cats p {
	font-size: 14px;
}

@media screen and (max-width: 520px) {
	.scrabble-cats p {font-size: 13px;}
}
@media screen and (max-width: 450px) {
	.scrabble-cats p {font-size: 11px;}
}
@media screen and (max-width: 400px) {
	.scrabble-cats p {font-size: 9px;}
}


.scrabble-cats-banter {
	background-color: #3DCC55;
	background-image: url("scb-checkers-small.png"), radial-gradient(circle, #3DCC55, #267F35);
	background-size: auto, cover;
	background-position-x: 0px, center;
	border: 0.15em solid #267F35;
}
.scrabble-cats-banter .text-wrapper {
	text-shadow: 0.05em 0.05em #275317, 0.1em 0.1em #275317;
	font-family: "Arial Rounded MT Bold";
	color: white;
}
.scrabble-cats-banter p {
	font-size:  16px;
}
@media screen and (max-width: 520px) {
	.scrabble-cats-banter p {font-size: 14px;}
}
@media screen and (max-width: 450px) {
	.scrabble-cats-banter p {font-size: 12px;}
}
@media screen and (max-width: 400px) {
	.scrabble-cats-banter p {font-size: 10px;}
}

.big-o-racing {
	background-image: linear-gradient(#888D,#888D), url("bor-banner.png");
	border: 0.15em solid #444;
}
.big-o-racing .text-wrapper {
	width: 100%;
}
.big-o-racing h1 {
	font-family: "Arial Black";
	font-size: 34px;
	font-style: italic;
}
.big-o-racing .wheel {
	position: relative;
	height: 1em;
	vertical-align: top;
	top: 0.3em;
	right: 0.05em;
}
.big-o-racing .shadow {
	position: relative;
	text-shadow: 
			-0.03em -0.03em black, 
			-0.03em 0.03em black, 0em 0.06em black, 0.03em 0.09em black,
			0.03em -0.03em black, 0.06em 0em black, 0.09em 0.03em black, 
			0.09em 0.09em black;
}
.big-o-racing .shadow .wheel {
	opacity: 0;
}
.big-o-racing .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	background-image: linear-gradient(#444, #444, #FFF, #444, #444);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.big-o-racing p {
	margin-top: 0.2em;
	font-family: "Bahaus 93 Regular";
}
@media screen and (max-width: 520px) {
	.big-o-racing h1 {font-size: 30px;}
}
@media screen and (max-width: 450px) {
	.big-o-racing h1 {font-size: 24px;}
}
@media screen and (max-width: 400px) {
	.big-o-racing h1 {font-size: 22px;}
}





.accounting {
	background-image: linear-gradient(to bottom, #8884, #8881, #8884), url("accounting-banner.png");
	border: 0.15em solid grey;
}
.accounting .text-wrapper {
	color: black;
}
.accounting h1 {
	font-family: "Chomsky";
	font-size: 38px;
}
.accounting p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}
@media screen and (max-width: 520px) {
	.accounting h1 {font-size: 32px;}
	.accounting p {font-size: 13px;}
}
@media screen and (max-width: 450px) {
	.accounting h1 {font-size: 28px;}
	.accounting p {font-size: 11px;}
}
@media screen and (max-width: 400px) {
	.accounting h1 {font-size: 22px;}
	.accounting p {font-size: 10px;}
}











.kingmaker {
	background-image: linear-gradient(to bottom, #111D, #222A, #111D), url("kingmaker-banner.png");
	border: 0.15em solid black;
}
.kingmaker h1 {
	font-family: "IT Cathedra Demo";
	font-size: 38px;
	color: white;
	text-shadow: 
			-0.03em -0.03em black, 
			-0.03em 0.03em black,
			0.03em -0.03em black,
			0.03em 0.03em black;
}
.kingmaker p {
	font-family: "Arial Black";
	font-size: 15px;
	color: white;
	text-shadow: 0.05em 0.05em black;
}
@media screen and (max-width: 520px) {
	.kingmaker h1 {font-size: 32px;}
	.kingmaker p {font-size: 13px;}
}
@media screen and (max-width: 450px) {
	.kingmaker h1 {font-size: 28px;}
	.kingmaker p {font-size: 11px;}
}
@media screen and (max-width: 400px) {
	.kingmaker h1 {font-size: 22px;}
	.kingmaker p {font-size: 10px;}
}


.congress-of-vienna {
	background-image: linear-gradient(to right, #700000, #901010, #901010, #700000);
	border: 0.15em solid #ffd500;
}
.congress-of-vienna h1 {
	font-family: "Piston Black";
	font-size: 32px;
	color: #ffd500;
	text-shadow: 0.05em 0.05em 0.05em black;
}
.congress-of-vienna p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffd500;
	text-shadow: 0.05em 0.05em 0.05em black;
}
@media screen and (max-width: 520px) {
	.congress-of-vienna h1 {font-size: 28px;}
	.congress-of-vienna p {font-size: 14px;}
}
@media screen and (max-width: 450px) {
	.congress-of-vienna h1 {font-size: 26px;}
	.congress-of-vienna p {font-size: 13px;}
}
@media screen and (max-width: 400px) {
	.congress-of-vienna h1 {font-size: 22px;}
	.congress-of-vienna p {font-size: 11px;}
}