@font-face{
    font-family: "Arial Rounded MT Bold";
    src: url("scrabble-cats-banter/ARLRDBD.TTF");
}
@font-face {
    font-family: "Arial Black";
    src: url("scrabble-cats-banter/ariblk.ttf");
}

body {
	background-color: #ffffff;
	line-height: 1.5;
}
.header {
	width: 100%;
	margin: 20pt 0 20pt 0;
	text-align: center;
	line-height: 1.2;
	font-size: 28pt;
	font-variant: small-caps;
	color: black;
}
.header .title {
	font-size: 32pt;
	letter-spacing: 8px;
}
.header .subtitle {
	font-size: 20pt;
}
a {
	color: black;
	text-decoration: none;
}
.content {
	text-align: center;
	margin: 0 50px 0 50px;
}
.game-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 450px;
	height: 90px;
	padding: 10px 30px 10px 30px;
	margin: 10px;
	background-size: cover;
	border-radius: 10px;
	background-position: center;
}
.game-box .text-wrapper {
	margin-top: 45px;
	transform: translateY(-50%);
}
.game-box h1 {
	font-size: 20pt;
	font-weight: normal;
	/*font-variant: small-caps;*/
	margin: 0;
}
.game-box p {
	font-size: 13pt;
	margin: 0;
}


.great-game {
	background-color: #7CC159;
	border: 3px solid #4C7537;
}

.scrabble-cats {
	background-color: #FFC77D;
	border: 3px solid #FFA346;
}

.scrabble-cats-banter {
	background-color: #3DCC55;
	border: 3px solid #267F35;
}

.big-o-racing {
	background-color: #A0A0A0;
	border: 3px solid #404040;
}