@font-face{
    font-family: "Arial Rounded MT Bold";
    src: url("scrabble-cats-banter/ARLRDBD.TTF");
}
@font-face {
    font-family: "Arial Black";
    src: url("scrabble-cats-banter/ariblk.ttf");
}
@font-face {
	font-family: "Bahaus 93 Regular";
	src: url("big-o-racing/BAUHS93.TTF");
}

body {
	background-color: #ffffff;
	line-height: 1.5;
	margin: 0;
}
header {
	margin: 1em 0;
	font-size: 26px;
	text-align: center;
	line-height: 1.2;
	font-variant: small-caps;
	color: black;
}
header h1 {
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 0.2em;
	margin: 0;
}
a {
	color: black;
	text-decoration: none;
}
.content {
	text-align: center;
}
.game-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 500px;
	height: 100px;
	padding: 0;
	margin: 10px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}
.game-box .text-wrapper {
	position: absolute;
	width: calc(100% - 60px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.game-box h1 {
	font-size: 26px;
	font-weight: normal;
	margin: 0;
}
.game-box p {
	font-size: 18px;
	margin: 0;
}
@media screen and (max-width: 520px) {
	.game-box {
		width: calc(100% - 20px);
		height: auto;
		aspect-ratio: 5;
	}
}
@media screen and (max-width: 520px) {
	header h1 {font-size: 38px;}
	header {font-size: 24px;}
	.game-box h1 {font-size: 24px;}
	.game-box p {font-size: 16px;}
}
@media screen and (max-width: 450px) {
	header h1 {font-size: 34px;}
	header {font-size: 20px;}
	.game-box h1 {font-size: 20px;}
	.game-box p {font-size: 14px;}
}
@media screen and (max-width: 400px) {
	header h1 {font-size: 28px;}
	header {font-size: 18px;}
	.game-box h1 {font-size: 18px;}
	.game-box p {font-size: 12px;}
}


.great-game {
	background-image: linear-gradient(to bottom, #7CC15980, #7CC159A0), url("tgg-banner.png");
	border: 3px solid #4C7537;
}
.great-game .text-wrapper {
	font-family: 'Times New Roman', Times, serif;
	text-shadow: 1px 1px 3px black;
	color: white;
}
.great-game h1 {
	font-variant: small-caps;
	font-size: 32px;
}
@media screen and (max-width: 520px) {
	.great-game h1 {font-size: 28px;}
}
@media screen and (max-width: 450px) {
	.great-game h1 {font-size: 24px;}
}
@media screen and (max-width: 400px) {
	.great-game h1 {font-size: 22px;}
}


.scrabble-cats {
	background-color: #FFC77D;
	/*background-image: linear-gradient(#FFC77DE0, #FFC77DE0), url(sc-banner-2.png);*/
	border: 3px solid #FFA346;
}
.scrabble-cats .text-wrapper {
	font-family: "Arial Black";
	/*text-shadow: 2px 2px #FFA346;*/
}
.scrabble-cats .text-wrapper h1 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
.scrabble-cats .text-wrapper p {
	font-size: 14px;
}

@media screen and (max-width: 520px) {
	.scrabble-cats .text-wrapper p {font-size: 13px;}
}
@media screen and (max-width: 450px) {
	.scrabble-cats .text-wrapper p {font-size: 11px;}
}
@media screen and (max-width: 400px) {
	.scrabble-cats .text-wrapper p {font-size: 9px;}
}


.scrabble-cats-banter {
	background-color: #3DCC55;
	background-image: url("scb-checkers-small.png"), radial-gradient(circle, #3DCC55, #267F35);
	background-size: auto, cover;
	background-position-x: 0px, center;
	border: 3px solid #267F35;
}
.scrabble-cats-banter .text-wrapper {
	text-shadow: 0.05em 0.05em #275317, 2px 2px #275317;
	font-family: "Arial Rounded MT Bold";
	color: white;
}
.scrabble-cats-banter p {
	font-size:  16px;
}
@media screen and (max-width: 520px) {
	.scrabble-cats-banter p {font-size: 14px;}
}
@media screen and (max-width: 450px) {
	.scrabble-cats-banter p {font-size: 12px;}
}
@media screen and (max-width: 400px) {
	.scrabble-cats-banter p {font-size: 10px;}
}

.big-o-racing {
	background-image: linear-gradient(#888D,#888D), url("bor-banner.png");
	border: 3px solid #444;
}
.big-o-racing .text-wrapper {
	width: 100%;
}
.big-o-racing h1 {
	font-family: "Arial Black";
	font-size: 34px;
	font-style: italic;
}
.big-o-racing .wheel {
	position: relative;
	height: 1em;
	vertical-align: top;
	top: 0.3em;
	right: 0.05em;
}
.big-o-racing .shadow {
	position: relative;
	text-shadow: 
			-1px -1px black, 
			-1px 1px black, 0px 2px black, 1px 3px black,
			1px -1px black, 2px 0px black, 3px 1px black, 
			3px 3px black;
}
.big-o-racing .shadow .wheel {
	opacity: 0;
}
.big-o-racing .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	background-image: linear-gradient(#444, #444, #FFF, #444, #444);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.big-o-racing p {
	margin-top: 0.2em;
	font-family: "Bahaus 93 Regular";
}
@media screen and (max-width: 520px) {
	.big-o-racing h1 {font-size: 30px;}
}
@media screen and (max-width: 450px) {
	.big-o-racing h1 {font-size: 24px;}
}
@media screen and (max-width: 400px) {
	.big-o-racing h1 {font-size: 22px;}
}