@font-face{
    font-family: "Arial Rounded MT Bold";
    src: url("ARLRDBD.TTF");
}
@font-face {
    font-family: "Arial Black";
    src: url("ariblk.ttf");
}

body {
    margin: 0;
    font-family: "Arial Rounded MT Bold";
    color: white;
    text-shadow: 0.05em 0.05em #275317, 0.1em 0.1em #275317;
    line-height: 1.5;
}
.bg-green {
    position:fixed;
    background-image: radial-gradient(circle, #3DCC55, #267F35);
    z-index: -1;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}
.bg-checkers {
    background-image: url("checkers_angled.png");
    height: 100%;
    min-height: 100vh;
    padding: 0px;
}
.container {
    min-height: 100vh;
    text-align: center;
}



a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size:42px;
    margin: 0.3em 0;
    font-weight: normal;
}
h2 {
    font-size: 20px;
    margin: 0.4em 0;
    font-weight: normal;
}
p {
    font-size: 16px;
    margin: 0.5em 0;
}
button {
    font-family: inherit;
    font-size: 20px;
    color: inherit;
    text-shadow: inherit;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.4em;
    min-width: 8.5em;
    background-color: #3DCC55;
    border: 0.15em solid #267F35;
    border-radius: 0.5em;
    box-shadow: 0.15em 0.15em #275317;
}
button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}
@media screen and (max-width: 700px) {
    h1 {font-size: 32px;}
    h2 {font-size: 18px;}
    p {font-size: 14px;}
    button {font-size: 18px;}
}
@media screen and (max-width: 600px) {
    h1 {font-size: 26px;}
    h2 {font-size: 15px;}
    p {font-size: 12px;}
    button {font-size: 15px;}
}
@media screen and (max-width: 500px) {
    h1 {font-size: 22px;}
    h2 {font-size: 12px;}
    p {font-size: 10px;}
    button {font-size: 12px;}
}


.menu {
    min-height: 100vh;
    position:relative;
    text-align: center;
}
.menu header {
    position:absolute;
    top:0px;
    text-align: center;
    width: calc(100% - 20px);
    padding: 10px;
}
.menu main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}
.menu .logo {
    width: 250px;
    max-width: 50%;
}
.menu footer {
    position:absolute;
    bottom: 0px;
    text-align: center;
    width: calc(100% - 20px);
    padding: 10px;
}


.how-it-works main {
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}
.how-it-works .img-center {
    text-align: center;
}
.how-it-works h1 {
    margin: 16px 0 0 0;
    font-size: 54px;
    font-weight: normal;
}
.how-it-works .subtitle {
    margin: 0 0 20px 0;
    font-size: 22px;
    text-align: center;
}
.how-it-works h2 {
    margin: 1em 0 0.5em 0;
    font-size: 40px;
    text-align: left;
    font-weight: normal;
}
.how-it-works p {
    margin: 0.8em 0 0.8em 0;
    font-size: 20px;
    text-align: left;
}
.how-it-works .logo {
    width: 350px;
    max-width: 50%;
}
.how-it-works .examples-table {
    table-layout: fixed;
    width: 100%;
    font-size: 16px;
    border-spacing: 0;
}
.how-it-works .examples-table td {
    padding: 0;
}
.how-it-works .examples-table .blackletter {
    font-size: 32px;
    font-family: "Arial Black";
}
.how-it-works .examples-table img {
    width: 50%;
}
.how-it-works .cat-similarity-table {
    float: right;
    font-size: 18px;
    border-spacing: 0;
    margin: 2em 0px 0.5em 0.5em;
}
.how-it-works .cat-similarity-table th {
    padding: 0.1em 0.5em;
}
.how-it-works .cat-similarity-table td {
    padding: 0.1em 0.5em;
}
.how-it-works .team {
    width: 300px;
    max-width: 60%;
}
@media screen and (max-width: 700px) {
    .how-it-works h1 {font-size: 42px;}
    .how-it-works .subtitle {font-size: 18px;}
    .how-it-works h2 {font-size: 30px;}
    .how-it-works p {font-size: 18px;}
    .how-it-works .examples-table {font-size: 16px;}
    .how-it-works .examples-table .blackletter {font-size: 28px;}
    .how-it-works .cat-similarity-table {font-size: 16px;}
}
@media screen and (max-width: 600px) {
    .how-it-works h1 {font-size: 32px;}
    .how-it-works .subtitle {font-size: 15px;}
    .how-it-works h2 {font-size: 24px;}
    .how-it-works p {font-size: 15px;}
    .how-it-works .examples-table {font-size: 12px;}
    .how-it-works .examples-table .blackletter {font-size: 18px;}
    .how-it-works .cat-similarity-table {font-size: 14px;}
}
@media screen and (max-width: 500px) {
    .how-it-works h1 {font-size: 24px;}
    .how-it-works .subtitle {font-size: 12px;}
    .how-it-works h2 {font-size: 20px;}
    .how-it-works p {font-size: 12px;}
    .how-it-works .examples-table {font-size: 10px;}
    .how-it-works .examples-table .blackletter {font-size: 14px;}
    .how-it-works .cat-similarity-table {font-size: 10px;}
}

.game {
    position:relative;
    min-height: calc(100vh - 20px);
}
.game p {
    font-size: 22px;
}
.game main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(100% - 20px);
    padding:10px;
}
.game .intro-countdown {
    font-family: "Arial Black";
    font-size: 96px;
    margin: 0;
}
.game .rule {
    font-family: "Arial Black";
    font-size: 38px;
}
.game .rule span {
    display: inline-block;
}
.game .guess {
    width: 100%;
    margin: 0.8em 0;
    padding: 0;
    background: none;
    border: none;
    font-family: "Arial Black";
    font-size: 64px;
    color: inherit;
    text-shadow: inherit;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}
.game .guess:focus {
    outline: none;
}
.game .countdown {
    font-size: 26px;
}

.game-round-summary img {
    width: 200px;
    max-width: 35%;
}
.round-score {
    color: #FFFF4C;
}
.round-score h1 {
    margin: 0;
    font-family: "Arial Black";
    font-size: 38px;
    font-weight: normal;
}
.round-score p {
    margin: 0;
    font-size: 16px;
}
.encouragement {
    font-size: 24px;
    margin: 0.8em 0 0.8em 0;
}
.next-round-countdown {
    font-size: 16px;
}

.game-summary img {
    width: 200px;
    max-width: 35%;
}
.game-summary p {
    margin: 0;
}
.game-summary h1 {
    margin: 0;
    font-family: "Arial Black";
    font-size: 70px;
    font-weight: normal;
}
.game-summary .congratulations {
    margin-bottom: 0.4em;
}
.game-summary .highscore {
    margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
    .game p {font-size: 20px;}
    .game .intro-countdown {font-size: 88px;}
    .game .rule {font-size: 34px;}
    .game .guess {font-size: 54px;}
    .game .countdown {font-size: 22px;}
    .round-score h1 {font-size: 34px;}
    .round-score p {font-size: 14px;}
    .encouragement {font-size: 22px;}
    .next-round-countdown {font-size: 14px;}
    .game-summary h1 {font-size: 64px;}
}
@media screen and (max-width: 600px) {
    .game p {font-size: 18px;}
    .game .intro-countdown {font-size: 80px;}
    .game .rule {font-size: 30px;}
    .game .guess {font-size: 46px;}
    .game .countdown {font-size: 20px;}
    .round-score h1 {font-size: 30px;}
    .round-score p {font-size: 13px;}
    .encouragement {font-size: 20px;}
    .next-round-countdown {font-size: 13px;}
    .game-summary h1 {font-size: 58px;}
}
@media screen and (max-width: 500px) {
    .game p {font-size: 16px;}
    .game .intro-countdown {font-size: 74px;}
    .game .rule {font-size: 24px;}
    .game .guess {font-size: 38px;}
    .game .countdown {font-size: 18px;}
    .round-score h1 {font-size: 26px;}
    .round-score p {font-size: 12px;}
    .encouragement {font-size: 18px;}
    .next-round-countdown {font-size: 12px;}
    .game-summary h1 {font-size: 52px;}
}





